{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">



	<style>
		/* width */
		::-webkit-scrollbar {
		  width: 1px;
		  }
		
		/* Track */
		::-webkit-scrollbar-track {
		  background: #f1f1f1; 
		}
		 
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: #888; 
		}
		
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: #555; 
		}
	</style>

	<head>
		{% tailwind_css %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block Title %}Soundbox{% endblock Title %}</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
	</head>

	<body class='relative pt-8'>
		<nav class='p-4 bg-black bg-opacity-100 fixed top-0 left-0 w-full z-50'>
			<a href="#">
				<h2 class='text-white text-xl font-semibold'>
					<span class='text-green-700 font-black'>Soundbox</span>
				</h2>
			</a>
		</nav>

		{% block content %}
		
		{% endblock content %}


	</body>

</html>
