{% extends 'base.html' %}


{% block content %}


<style>
    .upload{
        display: flex;
        flex-direction: row;
        
    }

    .submit_button {
        margin-top: 1.5em;
        background-color: darkgreen;
        width: 510px;
        border-radius: 3px;
        position: relative;
        top: 0;
        transition: top ease 0.3s;
        

    }
    .submit_button:hover {
        top: -5px;
       
        background-color: rgb(27, 108, 27);
    }
        
    .music_file:hover {
        border-color: green;
        background-color: darkgreen;
    }

    .cover_file:hover {
        border-color: green;
        background-color: darkgreen;
    }

   


    

</style>





<br>
    <h2 class="text-center text-green-700 text-2xl font-bold mt-8 mb-10">Wanna listen to something new ??</h2>
<form action="" method="post" class="w-10/12 md:w-1/2 mx-auto mb-8" enctype="multipart/form-data">
   
  {% csrf_token %}

 
    <div class="my-4">
        <label for="id_title" class="text-lg" style="color: rgb(13, 131, 35);">Album (Optional):</label>
        <input type="text" name="album" maxlength="500" id="id_album" class="block w-full p-2 outline-none border-1 border-green rounded-lg">
    </div>
    <div class="my-4">
        <label for="id_title" class="text-lg" style="color: rgb(13, 131, 35);;">Title:</label>
        <input type="text" name="title" maxlength="500" required="" id="id_title" class="block w-full p-2 outline-none border-1 border-green rounded-lg">
    </div>
    <div class="my-4">
        <label for="id_title" class="text-lg" style="color: rgb(13, 131, 35);;">Artist:</label>
        <input type="text" name="artist" maxlength="500" required="" id="id_artiste" class="block w-full p-2 outline-none border-1 border-green rounded-lg">
    </div>




<div class="upload">

    <div class=" overflow-hidden flex items-center justify-center flex-col my-3" >
        <div class="details-audio text-black text-base">
        </div>
        <div class="flex w-full items-center justify-center bg-grey-lighter">
        <label class="music_file w-64 flex flex-col items-center px-4 py-6 bg-white text-green-800 rounded-lg shadow-lg tracking-wide  border cursor-pointer hover:text-white">
            <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
            </svg>
            <span class="mt-2 text-base leading-normal">Select a Music File</span>
            <input type='file' accept="audio/mp3" name="audio_file" class="hidden " onchange="showname('audio')" id="id_audio_file" required />
        </label> 
        </div>   
    </div>

    <div class=" overflow-hidden flex items-center justify-center flex-col my-3" >
        <div class="details-image text-black text-base">
        
        </div>
        <div class="flex w-full items-center justify-center bg-grey-lighter">
            <label class="cover_file w-64 flex flex-col items-center px-4 py-6 bg-white text-green-800 rounded-lg shadow-lg tracking-wide  border cursor-pointer hover:text-white">
            <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
            </svg>
            <span class="mt-2 text-base leading-normal">Select a Cover Image</span>
            <input type='file' accept="image/*" name="cover_image" class="hidden cover_image" onchange="showname('image')" id="id_cover_image" required />
            
            </label> 
        </div>      
    </div>


</div>

    <button class="p-4 text-white text-center submit_button">
        Submit
    </button>
</form> 

<script>
    function showname (type) {
    if(type=='audio'){

        var name = document.getElementById('id_audio_file'); 
    }else{
        var name = document.getElementById('id_cover_image'); 

    }
    const file_name= name.files.item(0).name
    document.querySelector(`.details-${type}`).textContent=`${file_name}`
    };
</script>
{%endblock content%}